* { font-family: 'Roboto', sans-serif;}
*:focus { outline: 0 !important;}

.body { overflow-y: scroll; }
a {
	text-decoration: none !important;
}

/*--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--*/
@media only screen and (min-width: 500px) {   /*hides top nav items in phone and tab*/
	h1 {
		font-size: 1.8em; /*36px*/
	}
}

@media only screen and (min-width: 1000px) {
	h1 {
		font-size: 2.2em; /*36px*/
	}
}

h1 {
	letter-spacing: 3px;
	font-family: Raleway;
	font-weight: bold;
	color: black;
	padding-top: 0.5vw;
	border-radius: 2px;
	text-align: center;
}

h2 {
	font-family: Raleway;
}
h3 {
	font-family: Raleway;
	font-size: 0.5em; /*15px*/
    font-weight: bold;
}

h4 {
	letter-spacing: 2px;
	font-family: Raleway;
	font-weight: bold;
	font-size: 1.8em; /*26px*/
	color: black;
	padding-top: 0.5vw;
	padding-bottom: 0.5vw;
	border-radius: 2px;
	text-align: center;
}

#new {
	width: 68%;
	border: solid 1px black;
}

/*--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--*/
@media only screen and (min-width: 500px) {   /*hides top nav items in phone and tab*/
	#topNavBar {
		display: none;
	}
	#mobileMenu {
		display: block;
	}
}

@media only screen and (min-width: 1000px) {
	#topNavBar {
		display: inline-block;
	}
	#mobileMenu {
		display: none;
	}
}

#topNavBar {
	height: 30px;
	background-color: #393e41;
	text-align: center;
	color: white;
	min-width: 790px;
}
#topNavLeft {
	text-align: left;
}
#topNavMid {
	text-align: center;

}
#topNavRight {
	text-align: right;
}
#mkBut {
	font-size: 12px;
	margin: 3px 25px;
}
#conBut {
	margin: 3px 25px;
}
.topNavLinks {
	margin: 3px 35px;
	background-color: #393e41;
	color: white;
	border: none;
	font-size: 12px;
	letter-spacing: 4px;
	font-family: Raleway;
	border: solid 2px #393e41;
	transition: 0.7s ease all;
	font-weight: bold;
}
.topNavLinks:hover {
	cursor: pointer;
	color: silver;
}

/*--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--*/
#logoSpace {
	background-color: #F2F3EB;
	height: 280px;
}
#headerLogo {
	padding-top: 70px;
}

/*--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--*/
@media only screen and (min-width: 500px) {    /*hides site nav items in phone and tab*/
	#siteNav, .siteNavBut, #btnHr {
		display: none;
	}
	
}

@media only screen and (min-width: 1000px) {
	#siteNav, .siteNavBut, #btnHr {
		display: block;
	}

}

#siteNav {
	background-color: white;
	height: 40px;
}
.siteNavBut {
	margin-left: 45px;
	background-color: white;
	font-size: 13px;
	font-family: Raleway;
	font-weight: bold;
	border: none;
	width: 130px;
	letter-spacing: 2px;
	padding: 5px;
	line-height: 25px;
}
#btnHr {
	height:2px; 
	border:none; 
	background-color: #c2bab0; 
	width: 60%; 
	text-align:center; 
	margin: auto;
	transition: 0.4s ease all;
}
.siteNavBut:hover {
	cursor: pointer;
}
.siteNavBut:hover #btnHr {
	width: 85%;
	background-color:black; 
}

/*--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--*/
/*FOR PHONE*/
@media only screen and (min-width: 500px) {
  #learnMore {
	/*background-image: url('./img/catch1.jpg');
	height: 32vw;
	width: 100%;
	overflow: hidden;
	*/
	display: none;
}
#learnMoreBox {
	/*background-color: #F2F3EB;
	width: 50vw;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 5.5vw;
	padding-top: 2.5vw;
	padding-bottom: 2.5vw;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #393e41;
	-webkit-animation: smooth 0.6s ease-in;
	border: solid 2px #e1dad0;
	*/
	display: none;
}
}

/*FOR DESKTOP*/
@media only screen and (min-width: 1000px) {
  #learnMore {
  	display: block;
	background-image: url('./img/catch1.jpg');
	height: 24vw;
	width: 100%;
	overflow: hidden;
}
#learnMoreBox {
	display: block;
	background-color: #F2F3EB;
	width: 36vw;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 4.5vw;
	padding-top: 2vw;
	padding-bottom: 2vw;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #393e41;
	-webkit-animation: smooth 0.6s ease-in;
	border: solid 2px #e1dad0;
}
}

@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

#learnMoreBox p {
		font-family: 'Lato';
		font-size: 1.7;
		line-height: 22px;
}
#learnMoreBtn {
		font-family: 'Lato';
		font-size: 1em;
		font-weight: bold;
		background-color: #393e41;	
		color: white;
		border: solid 2px #393e41;
		padding: 10px;
		letter-spacing: 3px;
		transition: all 0.6s;
}
#learnMoreBtn:hover {
	box-shadow: inset 160px 0 white;
	border: solid 2px #e1dad0;
	color: #393e41;
	cursor: pointer; 
}

/*--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT--ABOUT---ABOUT---ABOUT---ABOUT---ABOUT--*/
#threeImage {
	box-shadow: 2px 2px 4px #a4a5a0;
	margin: 20px;
	margin-top: 10px;
}

@media only screen and (min-width: 500px) {   
	#logoSquare {
	box-shadow: 2px 2px 4px #a4a5a0;
	height:160px;
	}
	#mkImage {
	margin: 20px;
	margin-top: 10px;
	height: 160px;
	box-shadow: 2px 2px 4px #a4a5a0;
	}
	#threeImage {
		width: 180px;
		height: 180px;
		
	}
}

@media only screen and (min-width: 1000px) {
	#logoSquare {
	box-shadow: 2px 2px 4px #a4a5a0;
	height:220px;
	}
	#mkImage {
	margin: 20px;
	margin-top: 10px;
	width: 220px;
	height: 220px;
	box-shadow: 2px 2px 4px #a4a5a0;
	}
	#threeImage {
		width: 200px;
		height: 200px;
		margin-left: 30px;
		margin-right: 30px;
	}
}

#infoP {
	text-align: left;
	font-family: 'Open Sans';
	color: black;
	margin: 10px;
	margin-bottom: 20px;
}
#matsP {
	text-align: center;
	width: 70%;
}

@media only screen and (min-width: 500px) {   
	#infoP {font-size: 1.1em;}
}

@media only screen and (min-width: 1000px) {   
	#infoP {font-size: 0.9em;}
}
#aboutTitle {
	text-align: center;
	height: 70px;
	margin-bottom: 15px;
}

#emImgBox {
	text-align: center;
}
#emImg {
	width: 180px;
	border-radius: 3px;
	box-shadow: 2px 2px 4px #a4a5a0;
	margin: 20px;
	margin-top: 10px;
}
#emRow {
	width: 80%;
	margin: auto;
}
#aboutEM {
	background-color: #F2F3EB;
	text-align: right;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding-top: 20px;
	padding-bottom: 70px;
}

#aboutWhite, #aboutWhite2 {
	background-color: white;
	text-align: right;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding-top: 20px;
	padding-bottom: 70px;
}
#aboutEMCol {
	border: solid 2px grey;
	padding-top: 10px;
	margin-top: 20px;
	border-radius: 2px;
	box-shadow: 2px 2px 8px #e1dad0;
}

/*--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER*/
#footer {
	background-color: #484848;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding-top: 20px;
	justify-content: center;
	background-size:cover;
	padding-bottom: 0px;
	color: WhiteSmoke;
	letter-spacing: 1px;
	text-align: left;
	font-size: 14px;
}
/*FOR PHONE*/
@media only screen and (min-width: 500px) {
	#footer {
		height: 17vw;
}
	#footerImageBox {
		padding-top: 3vw;
	}
	#copy {
		padding-top: 2.8vw;
	}
}

@media only screen and (min-width: 1000px) {
	#footer {
		height: 12vw;
}
	#footerImageBox {
		padding-top: 0.2vw;
	}
	#copy {
		padding-top: 2.0vw;
	}
}

#copy{
	margin: auto;
	font-size: 1.1em;
}
#socialMedia {
	margin: auto;
	text-align: center;
	padding-top: 2vw;
	padding-right: 4vw;
}
#socialIcons:hover{
	transition: 0.6s;
	transform: translatey(-4px);
}
#footerImage {
	width: 90%;

}
#footerImageBox {
	text-align: center;
	padding-right: 3vw;

}
#footerInfo {
	padding-left: 3vw;
}

/* --MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: white;
  padding: 10px;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  height: 488px;
}
@media only screen and (min-width: 500px) {
	.modal-content p {
		padding-left: 60px;
	}
}

@media only screen and (min-width: 1000px) {
	.modal-content p {
		padding-left: 180px;
	}
}

.modal-content h1 {
	text-align: center;
	padding-left: 10px;
	font-size: 28px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modalBtn {
	background: #484848;
	color: white;
	border: none;
}
#modalBtn:hover {
	color: silver;
	cursor: pointer;
}


/*--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--*/
nav {
    background: white;
    color: #1d1f20;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 9999;
}
/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font-family: Raleway;
    font-size: 2em;
    padding: 1vw;
    font-weight: bold;
    line-height: 15px;
    margin-top: 1em;
    margin-bottom: 0.8em;
}
/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1d1f20;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
#menu-icon {
    display: inline-block;
    max-width: 1.5em;
    position: relative;

}
nav label #menu-icon {
    float: right;

}
#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}
#menu-icon:before {
    top: -0.4em;
}
#menu-icon:after {
    bottom: -0.4em;
}
/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}
nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}
/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: #F2F3EB;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}
/* List */
nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}
nav ul > li {
    margin: 0.5em 0;
}
nav ul a {
    color: #1d1f20!important;
    text-decoration: none;
}
.mobileNavBtn {
	background: none;
	border: none;
	letter-spacing: 1px;
	margin: 1.5vw;
	font-family: Raleway;
	font-size: 2.5em;
}
/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    margin: 0.5em;
}