* { font-family: 'Roboto', sans-serif;}
*:focus { outline: 0 !important;}

a { text-decoration: none !important; }

.body { 
	overflow-y: scroll;
	overflow-x: hidden;
	 }

/*--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--HEADER STYLES--*/
h1 {
	letter-spacing: 3px;
	font-family: Raleway;
	font-weight: bold;
	font-size: 36px;
	color: black;
	padding-top: 20px;
	border-radius: 2px;
	text-align: center;
}
h2 {
	font-family: Raleway;
}
h3 {
	font-family: Raleway;
	font-size: 20px;
}
h4 {
	letter-spacing: 2px;
	font-family: Raleway;
	font-weight: bold;
	font-size: 20px;
	color: black;
	padding-top: 30px;
	padding-bottom: 20px;
	border-radius: 2px;
	text-align: center;
}
h5 {
	letter-spacing: 3px;
	font-family: Raleway;
	font-weight: bold;
	font-size: 26px;
	color: black;
	padding-top: 12px;
	padding-bottom: 5px;
	border-radius: 2px;
	text-align: center;
}

/*--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--TOP NAV--*/
@media only screen and (min-width: 500px) {   /*hides top nav items in phone and tab*/
	#topNavBar {
		display: none;
	}
	#mobileMenu {
		display: block;
	}
}

@media only screen and (min-width: 1000px) {
	#topNavBar {
		display: inline-block;
	}
	#mobileMenu {
		display: none;
	}
}

#topNavBar {
	height: 30px;
	background-color: #393e41;
	text-align: center;
	color: white;
	min-width: 790px;
}
#topNavLeft {
	text-align: left;
}
#topNavMid {
	text-align: center;

}
#topNavRight {
	text-align: right;
}
#mkBut {
	font-size: 12px;
	margin: 3px 25px;
}
#conBut {
	margin: 3px 25px;
}
.topNavLinks {
	margin: 3px 35px;
	background-color: #393e41;
	color: white;
	border: none;
	font-size: 12px;
	letter-spacing: 4px;
	font-family: Raleway;
	border: solid 2px #393e41;
	transition: 0.7s ease all;
	font-weight: bold;
}
.topNavLinks:hover {
	cursor: pointer;
	color: silver;
}

/*--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--LOGO HEADER--*/
#logoSpace {
	background-color: WhiteSmoke;
	height: 280px;
}
#headerLogo {
	padding-top: 70px;
}

/*--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--SITE NAV--*/
@media only screen and (min-width: 500px) {    /*hides site nav items in phone and tab*/
	#siteNav, .siteNavBut, #btnHr {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {
	#siteNav, .siteNavBut, #btnHr {
		display: block;
	}
}

#siteNav {
	background-color: white;
}
.siteNavBut {
	margin-left: 1.5vw;
	background-color: white;
	font-size: 0.8em;
	font-family: Raleway;
	font-weight: bold;
	border: none;
	width: 140px;
	letter-spacing: 2px;
	padding: 8px;
}
#btnHr {
	height:2px; 
	border:none; 
	background-color: #c2bab0; 
	width: 70%; 
	text-align:center; 
	margin: auto;
	transition: 0.4s ease all;
}
.siteNavBut:hover {
	cursor: pointer;
}
.siteNavBut:hover #btnHr {
	width: 85%;
	background-color:black; 
}

/*--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--LEARN MORE BOX--*/
#learnMore {
	background-image: url('./img/catch1.jpg');
	height: 330px;
	width: 100%;
	overflow: hidden;
}
#learnMoreBox {
	background-color: #F2F3EB;
	width: 660px;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 75px;
	padding-top: 25px;
	padding-bottom: 15px;
	border-radius: 2px;
	box-shadow: 2px 2px 4px #393e41;
	-webkit-animation: smooth 0.6s ease-in;
	border: solid 2px #e1dad0;
}
@-webkit-keyframes smooth {
    0% { opacity: 0;}
    100% { opacity: 1;}
}
#learnMoreBox p {
		font-family: 'Lato';
		font-size: 16px;
		line-height: 28px;
}
#learnMoreBtn {
		font-family: 'Lato';
		font-size: 16px;
		font-weight: bold;
		background-color: #393e41;	
		color: white;
		border: solid 2px #393e41;
		height: 45px;
		width: 120px;
		letter-spacing: 3px;
		transition: all 0.6s;
		margin-left: 20px;
		margin-bottom: 20px;
		margin-top: 20px;
}
#learnMoreBtn:hover {
	box-shadow: inset 0 55px white;
	border: solid 2px #e1dad0;
	color: #393e41;
	cursor: pointer; 
}

/*--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP--SHOP APP*/
#available {
	letter-spacing: 2px;
	font-family: Raleway;
	font-weight: bold;
	font-size: 32px;
	color: black;
	padding-top: 20px;
	border-radius: 2px;
	text-align: center;	
	line-height: 50px;
}
#availHr {
	height:3px; 
	border:none; 
	background-color: black; 
	width: 80%; 
	text-align:center; 
	margin: auto;
}
#shopApp {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 1;
}
#littleText {
	font-family: Roboto;
	font-size: 15px;
	letter-spacing: 2px;
}
#name2 {
	font-family: Raleway;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 35px;
	transition: all ease 0.4s;
}
.itemBtn {
	background: none;
	border:none;
}
#mobileInfoP {
	font-family: Raleway;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1px;
}
@media only screen and (min-width: 500px) {
	.shopItems {
		width: 260px;
  		height: 260px;
  		margin: auto;
	}
	#mobileInfoP{
		display: inline-block;
	}
}

@media only screen and (min-width: 1000px) {
	.shopItems {
		width: 240px;
  		height: 240px;
  		margin: 40px;
	}
	#mobileInfoP{
		display: none;
	}
}
.shopItems {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: black;
  background-size: cover;
  cursor: pointer;
  box-shadow: 3px 3px 6px #bcb09e;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, .6);
  color: #fef5df;
  opacity: 0;
  transition: all 0.5s;	
}
.items {
  letter-spacing: 3px;
}
.head {
  line-height: 40px;
  transform: translateY(40px);
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  border: none;
  border-bottom: solid 3px #fef5df;
  bottom: 0;
  transition: all 0.5s;
}
.price {
  font-size: 20px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.7s;
}
.start {
	font-size: 12px;
	font-family: Roboto;
}
.cart {
  opacity: 0;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  transform: translateY(40px);
  transition: all 0.7s;
  font-size: 13px;
}
.shopItems:hover .overlay { 
  opacity: 1;
}
.shopItems:hover .overlay .head {
  transform: translateY(0px);
}
.shopItems:hover .overlay hr {
  width: 95px;
  transform: translateY(-13px);
  transition-delay: 0.4s;
}
.shopItems:hover .overlay .price {
  transform: translateY(-10px);
  transition-delay: 0.3s;
  opacity: 1;
}
.shopItems:hover .overlay .cart {
  transform: translateY(-10px);
  transition-delay: 0.6s;
  opacity: 1;
}
.shopItems .overlay .cart #textTop {
	font-size: 12px;
	font-family: Raleway;
}
.shopItems:hover #name2 {
	color: #e1dad0;
}


/*--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP--ITEM INFO POPUP*/
#itemInfoCont {
	display: none;
	position: fixed; /* Stay in place */
  	z-index: 7; /* Sit on top */
 	padding-top: 20px; /* Location of the box */
  	left: 0;
  	right: 0;
  	background-color: whitesmoke;
  	border-radius: 5px;
  	border: solid 3px #77746a;
}
#imageSide {
	width: 90%;
}
#infoSide {
	padding-right: 30px;
}


@media only screen and (min-width: 500px) {
	#itemInfoCont {
		height: 80vw;
		top: 22vw;
		width: 100vw;
	}
	#itemTitle {
		font-size: 26px;
		
	}
	#itemMaterials {
		padding-top: 5px;
		font-size: 18px;
		line-height: 17px;
		color: dimgrey;
		margin-bottom: 20px;
	}
	#itemPrice{
		font-size: 28px;
		font-weight: bold;
		font-family: Roboto;
		letter-spacing: 1px;
		line-height: 20px;
		padding-top: 2px;
		margin-bottom: 20px;
	}
	#itemBigImage {
		background-color: none;
		height: 330px;
		margin-top: 10px;
	}
	#itemSmallImages {
		text-align: center;
		padding-top: 12vw;
		width: 100%;
		margin: auto;
	}
	#bigImage {
		width: 420px;
		height: 420px;
		border-radius: 2px;
		box-shadow: 2px 2px 3px #77746a;
		margin: auto;
		margin-left: 15px;
		margin-right: 10px;
	}
	#smallImage {
		width: 80px;
		border-radius: 2px;
		margin: 5px;
		box-shadow: 2px 2px 3px #77746a;
	}
	#size {
		font-size: 18px;
	}
	#careSmall {
		display: inline-block;
		font-size: 16px;
		padding-bottom: 5px;
		margin-left: 15px;
	}
	#careLarge{
		display: none;
	}
	#itemDescript {
		font-size: 17px;
		margin-right: 10px;
	}
	#closeShopCol {
		text-align: center;
	}
	#closeShop {
		height: 50px;
	}
	#toEtsy {
		margin-top: 20px;
		margin-left: 5px;
		height: 80px;
		width: 220px;
		font-size: 20px;

	}
}

@media only screen and (min-width: 1000px) {
	#itemInfoCont {
		height: 590px;
		overflow-y: scroll;
		top: 3vw;
	}
	#itemTitle {
		font-size: 34px;
	}
	#itemMaterials {
		padding-top: 10px;
		font-size: 16px;
		line-height: 20px;
		color: dimgrey;
	}
	#itemPrice{
		font-size: 28px;
		font-weight: bold;
		font-family: Roboto;
		letter-spacing: 1px;
		line-height: 30px;
		padding-top: 4px;
	}
	#itemBigImage {
		background-color: none;
		height: 340px;
		margin-bottom: 10px;
	}
	#itemSmallImages {
		text-align: center;
		padding-top: 20px;
		width: 540px;
	}
	#bigImage {
		padding-top: 0px;
		width: 340px;
		height: 340px;
		border-radius: 2px;
		box-shadow: 2px 2px 3px #77746a;
	}
	#smallImage {
		width:90px;
		border-radius: 2px;
		margin: 8px;
		box-shadow: 2px 2px 3px #77746a;
	}
	#size {
		font-size: 14px;
	}
	#careSmall {
		display: none;
	}
	#careLarge {
		display: inline-block;
		font-size: 14px;
		padding-bottom: 5px;
	}
	#itemDescript {
		font-size: 14px;
	}
	#closeShopCol {
		text-align: center;
		padding-top: 5px;
	}
	#closeShop {
		height: 40px;
	}
	#toEtsy {
		height: 60px;
		width: 400px;
		margin-left: 40px;
		font-size: 20px;
	}
}

#itemTitle {
	letter-spacing: 3px;
	font-family: Raleway;
	font-weight: bold;
	color: #2b3d48;
	padding-top: 20px;
	padding-bottom: 2px;
	border-radius: 2px;
	line-height: 5px;
}

#closeShop {
	background-color: #77746a;
	border: solid 2px #77746a;
	width: 100%;
	letter-spacing: 3px;
	font-size: 20px;
	font-family: Raleway;
	transition: 0.6s;
	color: white;
	border-radius: 2px;
}
#closeShop:hover {
	border-color: #484848;
	background-color: #e1dad0;
	cursor: pointer;
	color: #484848;
	font-weight: bold;
}
#toEtsy {
	background-color: black;
	color:white;
	border: solid 2px #484848;
	transition: 0.6s;
	font-family: Raleway;
	border-radius: 3px;

}
#toEtsy:hover {
	box-shadow: inset 500px 0 0 0 #e1dad0;
	border: solid 2px #484848;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

#smallImage:hover {
	cursor: pointer;
	opacity: 0.8;
}
#backOverlay {
	display: none;
	width: 1600px;
	height: 2400px;
	overflow: hidden;
	background: rgba(77, 77, 77, .7);
	position: absolute;
	left: 0;
	right:0;
  	top: 0;
  	bottom:0;
	z-index:6;
}
#seeMore {
	text-align: center;
}
#seeMoreBtn {
	font-family: 'Lato';
	font-size: 16px;
	background-color: #f3ede6;	
	color: #484848;
	border: solid 2px #f3ede6;
	height: 40px;
	width: 210px;
	letter-spacing: 4px;
	transition: all 0.6s;
	margin-left: 40px;
	margin-right: 40px;
	border-radius: 2px;
	font-weight: bold;
}
#seeMoreBtn:hover {
	box-shadow: inset 0 45px #4a4948;
	border: solid 2px #4a4948;
	color: white;
	cursor: pointer; 
}


/*--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER--FOOTER*/
#footer {
	background-color: #484848;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	padding-top: 20px;
	justify-content: center;
	background-size:cover;
	padding-bottom: 0px;
	color: WhiteSmoke;
	letter-spacing: 1px;
	text-align: left;
	font-size: 14px;
}
/*FOR PHONE*/
@media only screen and (min-width: 500px) {
	#footer {
		height: 17vw;
}
	#footerImageBox {
		padding-top: 3vw;
	}
	#copy {
		padding-top: 2.8vw;
	}
}

@media only screen and (min-width: 1000px) {
	#footer {
		height: 12vw;
}
	#footerImageBox {
		padding-top: 0.2vw;
	}
	#copy {
		padding-top: 2.0vw;
	}
}

#copy{
	margin: auto;
	font-size: 1.1em;
}
#socialMedia {
	margin: auto;
	text-align: center;
	padding-top: 2vw;
	padding-right: 4vw;
}
#socialIcons:hover{
	transition: 0.6s;
	transform: translatey(-4px);
}
#footerImage {
	width: 90%;

}
#footerImageBox {
	text-align: center;
	padding-right: 3vw;

}
#footerInfo {
	padding-left: 3vw;
}

/* --MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL--MODAL */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 70px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: white;
  padding: 10px;
  margin: auto;
  border: 1px solid #888;
  width: 70%;
  height: 488px;
}
@media only screen and (min-width: 500px) {
	.modal-content p {
		padding-left: 60px;
	}
}

@media only screen and (min-width: 1000px) {
	.modal-content p {
		padding-left: 180px;
	}
}

.modal-content p {
	font-size: 14px;
}
.modal-content h1 {
	text-align: center;
	padding-left: 10px;
	font-size: 28px;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 22px;
  font-weight: bold;
  text-align: right;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#modalBtn {
	background: #484848;
	color: white;
	border: none;
}
#modalBtn:hover {
	color: silver;
	cursor: pointer;
}



/*--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--MOBILE NAV--*/
nav {
    background: WhiteSmoke;
    color: #1d1f20;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 5;
}
/*** INPUT ***/
nav input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
/*** LABEL ***/
nav label {
    cursor: pointer;
    display: block;
    font-family: Raleway;
    font-size: 2em;
    padding: 1vw;
    font-weight: bold;
    line-height: 15px;
    padding-top: 1em;
    margin-bottom: 0.8em;
}
/* Hamburger Icon */
#menu-icon,
#menu-icon:before,
#menu-icon:after {
    background: #1d1f20;
    border-radius: 0.05em;
    height: 0.2em;
    transition: all 0.2s ease-in-out;
    width: 100%;
}
#menu-icon {
    display: inline-block;
    max-width: 1.5em;
    position: relative;

}
nav label #menu-icon {
    float: right;

}
#menu-icon:before,
#menu-icon:after {
    content: '';
    left: 0;
    position: absolute;
}
#menu-icon:before {
    top: -0.4em;
}
#menu-icon:after {
    bottom: -0.4em;
}
/* Close Icon */
nav input[type=checkbox]:checked + label #menu-icon {
    background: transparent;
}
nav input[type=checkbox]:checked + label #menu-icon:before {
    top: 0;
    transform: rotate(-45deg);
}
nav input[type=checkbox]:checked + label #menu-icon:after {
    bottom: 0;
    transform: rotate(45deg);
}
/*** MENU ***/
/* Overlay */
nav input:checked ~ #overlay {
    background: WhiteSmoke;
    bottom: 0;
    left: 0;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: -1;
}
/* List */
nav ul {
    font-size: 1.5em;
    list-style: none;
    margin: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    text-align: center;
}
nav input:checked ~ ul {
    margin: 1em;
    max-height: inherit;
    opacity: 1;
}
nav ul > li {
    margin: 0.5em 0;
}
nav ul a {
    color: #1d1f20!important;
    text-decoration: none;
}
.mobileNavBtn {
	background: none;
	border: none;
	letter-spacing: 1px;
	margin: 1.5vw;
	font-family: Raleway;
	font-size: 2.5em;
}
/* Social Media */
nav ul#social-media > li {
    display: inline-block;
    margin: 0.5em;
}